<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>簡易抽獎器</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js"></script>
  </head>

  <body style="display: flex">
    <div style="width: 245px; height: 500px">
      <form id="myForm">
        <textarea
          placeholder="請輸入抽選名單"
          name="input"
          id="input"
          cols="30"
          rows="10"
        ></textarea>
        <input
          type="submit"
          value="抽選"
          style="margin-left: 104.16665; margin-top: 10"
        />

        <textarea
          placeholder="抽選結果"
          name="output"
          id="output"
          cols="30"
          rows="10"
          readonly="false"
          style="margin-top: 50px"
        ></textarea>
      </form>
      <div style="display: flex; justify-content: space-between">
        <button id="copy">複製結果</button>
        <button id="clean">清除全部</button>
      </div>
    </div>
  </body>
</html>
